/* For Navbar */
@media (max-width: 750px) {
  .right-sidebar {
    display: none;
  }
  .search-box {
    width: 240px;
  }
}

@media (max-width: 680px) {
  .left-sidebar {
    display: none;
  }

  .main-content {
    flex-basis: 100%;
  }

  .nav-left ul li img {
    width: 44px;
  }
}

@media (max-width: 680px) {
  .search-box {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .search-box {
    display: none;
  }

  .mobile-search-box {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mobile-search-box:hover {
    border: 0.3px solid rgb(224, 187, 230);
  }

  .nav-right {
    gap: 20px;
  }

  .add-post-links {
    flex-wrap: wrap;
  }

  .story img {
    width: 28px;
  }
}

@media (max-width: 460px) {
  .logo {
    width: 135px;
    padding: 7px 10px;
  }

  .nav-left ul {
    margin-left: 0px;
  }

  .nav-left ul li img {
    width: 42px;
  }

  .mobile-search-box {
    height: 31px;
    width: 31px;
  }

  .nav-user-icon img {
    width: 35px;
  }

  .nav-right {
    gap: 10px;
  }

  .nav-left ul {
    gap: 0px;
  }

  .story p {
    font-size: 12px;
  }
}

/* ++++++++++++++++++++++++ For Profile Page +++++++++++++++++++ */

@media (max-width: 680px) {
  .pd-right {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .pd-info p {
    padding-right: 10px;
  }

  .send-message {
    gap: 10px;
  }

  .pd-img {
    height: 90px;
    width: 90px;
  }

  .profile-container {
    padding: 20px 9%;
  }
}

/*+++++++++++++++++++++++++++++ New ++++++++++++++++++++++++++++++++*/
@media (max-width: 520px) {
  .pd-img {
    width: 85px;
    height: 85px;
  }

  .profile-details {
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .more div {
    position: absolute;
    top: 10px;
  }

  .pd-right {
    flex-direction: row;
    justify-content: space-between;
  }

  .friends {
    width: 40%;
  }

  .send-message {
    width: 40%;
  }

  .pd-info h4 {
    font-size: 14px;
  }

  .profile-container {
    padding: 20px 5%;
  }

  .messagesnd{
    justify-content: center;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


@media (max-width: 680px) {
  .pd-right {
    font-size: 11px;
  }
  .friends {
    gap: 3px;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;
  }
  .messagesnd {
    padding: 7px 7px;
  }
}

/* +++++++++++ For friends and message Div ++++++++++++ */
@media (max-width: 430px){
  .pd-right > div {
    width: 43%;
  }
}

@media (max-width: 385px){
  .pd-right > div {
    width: 45%;
  }
}

